@font-face {
  font-family: "Preahvihear";
  src: url(../fonts/Preahvihear-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Jersey15Charted-Regular";
  src: url(../fonts/Jersey15Charted-Regular.ttf) format("truetype");
}

/* reset propiedades */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* variables */
:root{
  --fuente1:'Poppins', sans-serif ;
  --fuente2: "Jersey 15 Charted", sans-serif;

  --color1: rgb(104, 104, 104);
  --color2: rgb(236, 236, 236);
  --color3: rgb(182, 182, 182);
  --color4: rgb(82, 82, 82);
  --color5: rgb(78, 78, 78);
  --color6: rgb(27, 27, 27);
    
  --Red: hsl(0, 100%, 74%) ;
  --Green: hsl(154, 59%, 51%);
  --DarkBlue: hsl(249, 10%, 26%) ;
  --GrayishBlue: hsl(246, 25%, 77%);

}

.section__titulo {
  font-family: var(--fuente2);
  font-size: 2.8vw;
  color: var(--color6);
  text-align: center;
  filter: drop-shadow(4px 4px 4px rgba(221, 221, 221, 0.63));
  margin: 50px 0;
}

.contenedor {
  background-color: var(--color1);
  display: grid;
  gap: 0px;
  grid-template:
    "header header header"
    "home home home"
    "instalaciones instalaciones instalaciones"
    "equipo equipo equipo"
    "clases clases clases"
    "contactenos contactenos contactenos"
    "footer footer footer";
  font-size: 16px;
}


/* ------------------------------------------------------------------ */
/* ------------------------ HEADER ---------------------------------- */
/* ------------------------------------------------------------------ */
.header {
  grid-area: header;
  position: sticky;
  z-index: 10;
  top: 0px;
  font-family: var(--fuente2);
  font-size: 20px;
  background-color: rgb(255, 255, 255, 0.4);
  height: 40px;
  box-sizing: border-box;
  align-content: center;
  align-items: center;
  text-align: right;
}

.nav {
  height: 100%;
}

/*--------------- NavBar ---------------*/
.navbtn > a,
.navbtn2 > a {
  color: rgb(236, 236, 236);
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  display: inline-block;
}

.navbtn > a:hover,
.navbtn2 > a:hover,
.checkbtn:hover {
  background-color: rgb(255, 255, 0, 0.6);
  color: rgb(82, 82, 82);
  padding: 1px 2px 1px 2px;
  border-radius: 5px;
  transition: 0.5s;
}

.menuhorizontal .navbtn {
  display: inline-block;
  list-style: none;
  box-sizing: border-box;
}

.checker {
  display: none;
}

.checkbtn {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 20px;
  padding: 0px;
  margin: 0px;
}

.menuvertical {
  display: none;
  position: absolute;
  top: 18px;
  right: 20px;
}

.navbtn2 {
  color: rgb(236, 236, 236);
  list-style: none;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255, 0.4);
  display: block;
}


/* ------------------------------------------------------------------ */
/* ------------------------ SECCION HOME ---------------------------- */
/* ------------------------------------------------------------------ */
.home {
  grid-area: home;
  height: 100vh;
  width: 100%;
  min-height: 600px;
  margin: 0px;
  padding: 0px;
}

.homebackground {
  background-image: url(../images/5008.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 600px;
  background-position: top -140px right;
  height: 150%;
  /* height: 100vh; */
}

.hometext {
  position: absolute;
  top: 20%;
  right: 40%;
  text-align: left;
  font-size: 3.8vw;
  color: var(--color2);
  transition-property: right;
  transition-duration: 0.5s;
}

.hometext span {
  color: yellow;
}

.homebtn {
  font-size: 2.8vw;
  top: 0px;
  right: 0px;
  background-color: rgb(255, 255, 255, 0.1);
  color: var(--color3);
  border: 2px solid #e7e7e7;
}

.homebtn:hover {
  color: var(--color4);
  background-color: yellow;
  padding: 4px;
  border-radius: 5px;
  transition: 0.5s;
}

/* ------------------------------------------------------------------ */
/* ------------------------ SECCION INSTALACIONES ------------------- */
/* ------------------------------------------------------------------ */

.instalaciones {
  position: relative;
  grid-area: instalaciones;
  /* background-color: var(--color5); */
  color: var(--color5);
  background-color: #fff;
  padding-bottom: 50px;
}

.video {
  /* display: flex;
  justify-content: center; */
}

.insta_table {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 25px 0;
}

.insta_list {
  margin-top: 20px;
  padding: 0px 40px 0px 40px;
  list-style: none;
  text-align: center;
}

.icon-list {
  max-width: 60px;
}

.carousel {
  position: relative;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}

.slides {
  display: flex;
}

.img-carousel {
  object-fit: contain;
  width: 100%;
  height: 100%;
  max-height: 100%;
  display: none;
  box-shadow: 0px 0px 20px #000000;
  border-radius: 30px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: yellow;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

/* ------------------------------------------------------------------ */
/* ------------------------ SECCION EQUIPO -------------------------- */
/* ------------------------------------------------------------------ */

.equipo {
  position: relative;
  width: 100%;
  grid-area: equipo;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0 0 0 0;
  margin: 0 0 60px 0;
}

.equipos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.cards {
  background-color: transparent;
  width: 220px;
  height: 300px;
  border: 1px solid yellow;
  perspective: 1000px;
  margin: auto;
  position: relative;
  margin: 25px;
}

.imgProfe {
  width: 220px;
  height: 300px;
}

.flip-card {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.cards:hover .flip-card {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: rgba(255, 255, 0, 0.349);
  color: rgb(26, 26, 26);
  transform: rotateY(180deg);
}

/* ------------------------------------------------------------------ */
/* ------------------------ SECCION CLASES -------------------------- */
/* ------------------------------------------------------------------ */

.clases {
  grid-area: clases;
  background-color: var(--color5);
  width: 100%;
  color: darkgrey;
  text-align: center;
  margin:  auto;
  padding: 10px 0 50px 0;
}

.imghorarios {
  width: 80%;
  margin-bottom: 20px;
}


/* ------------------------------------------------------------------ */
/* ------------------------ SECCION CONTACTO ------------------------ */
/* ------------------------------------------------------------------ */

.contactenos {
  grid-area: contactenos;
  padding-bottom: 60px;
}

.contactanos__cont{
  display: flex;
}
.contactanos__cont > div{
  width: 50%;
}
/*-------- formulaio contacto --------*/

.contacto__formulario{
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    margin: 10px auto;
    width: 90%;
    max-width: 400px;
}

.contacto__formulario h3{
  margin-bottom: 20px;
}
.contacto__formulario-grupo{
    position: relative;
    margin-bottom: 10px;
}
.contacto__formulario-grupo p{
  margin-bottom: 10px;
}

.contacto__formulario-grupo textarea{
  resize: none;
}

.contacto_formulario-input{
    width: 100%;
    padding: 12px 20px;
    border-radius: 5px;
    margin-bottom: 5px ;
    border: 1px solid var(--GrayishBlue);
    font-weight: 600;
}
.contacto_formulario-input:focus{
   outline: none;
   border: 2px solid var(--DarkBlue);
   color: var(--DarkBlue);
   
}
.contacto_formulario-iconoError{
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
}
.contacto__formulario-mensajeError{
    text-align: start;
    font-size: 0.8em;
    color: var(--Red);
    display: none;
}

.contacto__btn-enviar{
    width: 100%;
    padding: 15px 0;
    background-color: var(--Green);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 5px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-out;
}
.contacto__btn-enviar:hover{
    background-color: hsl(154, 93%, 6%);
}

/* validaciones */

.activo .contacto_formulario-iconoError{
    opacity: 1;
}
.activo .contacto__formulario-mensajeError{
    display: block;
}
.activo .contacto_formulario-input{
    border: 2px solid var(--Red);
}

.contacto__completarTodo{
    color: var(--Red);
    display: none;
}
.contacto__completarTodo-activo{
    display: block;
}

.contactanos__cont > div:last-child{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.contactanos__cont > div:last-child h3{
  font-size: 2em;
  margin-bottom: 30px;
}

.mapa {
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  border-radius: 40px;
  width: 85%;
}


/* ------------------------------------------------------------------ */
/* ------------------------ SECCION FOOTER ---------------------------*/
/* ------------------------------------------------------------------ */
.footer {
  background-color: rgba(43, 43, 43, 0.5);
  grid-area: footer;
  text-align: center;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-text {
  flex: 1;
  text-align: left;
}

.footer-icons {
  display: flex;
  gap: 20px; 
}

.imgfooter {
  width: 40px;
  filter: drop-shadow(4px 4px 4px rgba(221, 221, 221, 0.63));
}


/* ------------------------------------------------------------------ */
/* ------------------------ SECCION SUSCRIPCION --------------------- */
/* ------------------------------------------------------------------ */

.contenedor_suscription{
  background-color: var(--color1);
  
}

.suscripcion{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #000080, #1e3c72, #2a5298, #3b7dd8, #82cfff);
  /* height: auto; */
}

.suscripcion__cont{
  background-color: rgba(119, 119, 131, .8);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
  width: 70%;
  padding: 20px;
  border-radius: 20px;
  animation-name: escalaImagen;
  animation-duration: 0.5s;
  margin: 50px 0;
}

.suscripcion__cont > h2{
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 15px;
  color: #fff;
}

.suscripcion__cont p{
  color: bisque;
  margin: 10px 0;
  font-size: 1.1em;
  
}

.suscripcion__formulario{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.suscripcion__formulario > div{
  display: grid;
}

.suscripcion__formulario-grupo label:first-child{
  font-size: 0.85rem;
}

.suscripcion__formulario-grupo div{
  display: flex;
  align-items: center;
}
.suscripcion__formulario-grupo div div:first-child{
  width: 20%;
  justify-content: space-around;
  margin-right: 10px;
}
.suscripcion__formulario-grupo div div:last-child{
  width: 80%;
}

.cont_div{
  display: flex;
  justify-content: space-between;
}
.cont_div div{
  width: 45%;
}

.suscripcion__formulario-input,
.suscripcion__formulario-input-select{
    width: 100%;
    padding: 2px 12px;
    border-radius: 5px;
    border: 2px solid var(--GrayishBlue);
    font-weight: 600;
    margin-top: 2px;
}
.suscripcion__formulario-input:focus{
   outline: none;
   border: 2px solid var(--DarkBlue);
   color: var(--DarkBlue);
   
}

.suscripcion__formulario-mensajeError{
    margin: 0 0 20px 0;
    text-align: start;
    font-size: 0.8em;
    color: var(--Red);
    display: none;
}

.suscripcion__formulario-btn{
  grid-column: 1 / -1; 
  display: flex;
  justify-content: center; 

}

.suscripcion__btn-enviar{
    width: 300px;
    padding: 5px 0;
    background-color: var(--Green);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 3px;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.5s ease-out;
}
.suscripcion__btn-enviar:hover{
    background-color: hsl(154, 65%, 68%);
}

/* validaciones */

.activo .suscripcion__formulario-mensajeError{
    display: block;
    margin: 0;
}

.suscripcion__completarTodo{
    color: var(--Red);
    display: none;
    text-align: center;
    font-size: 1.1em;
    margin-top: 5px;
}
.suscripcion__completarTodo-activo{
    display: block;
    
}

@keyframes escalaImagen{
    0%{transform: scale(0);}
    10%{transform: scale(0.1);}
    20%{transform: scale(0.2);}
    30%{transform: scale(0.3);}
    40%{transform: scale(0.4);}
    50%{transform: scale(0.5);}
    60%{transform: scale(0.6);}
    70%{transform: scale(0.7);}
    80%{transform: scale(0.8);}
    90%{transform: scale(0.9);}
    100%{transform: scale(1);}
}


/* ------------------------------------------------------------------ */
/* ------------------------ MEDIA QUERY ----------------------------- */
/* ------------------------------------------------------------------ */

@media screen and (max-width: 600px) {
  .menuhorizontal .navbtn {
    display: none;
  }

  .checker {
    display: none;
    position: absolute;
  }

  .checkbtn {
    position: absolute;
    display: block;
    text-align: center;
  }
  
  .checker:checked ~ .menuvertical {
    display: block;
  }

  .cards {
    width: 140px;
    height: 200px;
  }

  .imgProfe {
    width: 140px;
    height: 200px;
  }

  .profe_desc{
    font-size: 12px;
  }

  .contactanos__cont{
    flex-direction:column-reverse;
  }
  .contactanos__cont > div{
  width: 100%;
  }

.hometext {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 6.8vw;
  width: 90%;
}
.homebtn {
  font-size: 4.8vw;
  margin-top: 50px;
}

.section__titulo{
  font-size: 6.5vw;
  
}

.carousel {
  width: 95%;
}
.img-carousel {
  border-radius: 10px;
}

.contactanos__cont > div:first-child{
  margin-top: 30px;
}
.footer {
  flex-direction: column-reverse;

}
.footer-text{
  text-align: center;
}
.footer-icons{
  margin-bottom: 50px;
}
.mapa{
  width: 95%;
}
.contacto__formulario{
  width: 90%;
}
.suscripcion{
  height: auto;
}

.suscripcion__formulario{
  grid-template-columns: 1fr;
  grid-gap: 25px;
}

.suscripcion__cont{
  width: 95%;
}

}

@media screen and (min-width: 601px) and (max-width: 900px) {
    .contactanos__cont{
    flex-direction:column-reverse;
  }
  .contactanos__cont > div{
  width: 100%;
  }
  .contactanos__cont > div:first-child{
  margin-top: 30px;
}
.mapa{
  width: 90%;
}
.contacto__formulario{
  max-width: 80%;
}
.suscripcion__cont{
  width: 90%;
}

}

@media screen and (min-width: 901px) and (max-width: 1600px) {
  .home {
    min-height: 500px;
  }
 
  .cards {
    width: 180px;
    height: 240px;
  }

  .imgProfe {
    width: 180px;
    height: 240px;
  }
}


